@page "/"

<h1>Hello, world!</h1>

Welcome to my library new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="@IncrementCounter">Click Here to Increment</button>

<FirstComponent Clicks="@ClickCounting" />

@code{
  private int ClickCounting = 1;

  private void IncrementCounter (){
    ClickCounting++;
  }
}