
<div class="" role="alert">
    <strong>@Clicks</strong>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public int Clicks { get; set; }
}
